extends layout

block content
  div.container
    div.jumbotron
      h1= title
      p Welcome to the Store

    div
      p.book_intro The company of books gives the pleasure of company of man and Nature too. What is a book? A book is the map of man’s life and the life in nature. Every page of a great book is a store-house of man’s best and noblest thoughts. In a library you meet all these mighty minds of the whole world.
      p.book_intro But, all books are not innocent. There is a flood of books today. A flood is always a bad thing. Even a flood of tears is bad. How can a flood of books be good, then? You must be careful of this. Don’t be carried away by this flood. It is good to live in the company of bad books. But it is bad to fall in the company of bad books. Through the influence of bad books you can pick up bad habits without your knowing it. Therefore, you must select your companions with great care. You must make a choice wisely.
      a.btn.btn-primary.btn-block.list_button(href="/books") View the full List